@font-face {
  font-family: "Ultima-Hairline";
  src: url("./fonts/ultima_pd/UltimaPDaa-Hairline.ttf") format('truetype');
}

body {
  margin: 0 auto;
}

div .red {
  border: 4px solid red;
}

.login-header {
  font-family: "Ultima-Hairline";
  font-weight: lighter;
  position: relative;
  font-size: 35vh;
  left: 28%;
  width: auto;
  margin: 0;
  padding: 0;
}

#form {
  position: absolute;
  height: 50vh;
  width: 50vh;
  left: 28%;
  top: 40%;
  background-color: white;
  border: 5px solid #dfdfdf;
  border-radius: 50vh;
}

.inputs-container {
  position: relative;
  margin: 0 auto;
  top: 3vh;
  padding: 2vh;
  display: block;
  background-color: #dfdfdf;
  height: 40vh;
  width: 40vh;
  border-radius: 25vh;
}

.login-input {
  font-size: 16px;
  position: relative;
  text-align: center;
  margin: 5%;
  top: 27%;
  left: 17%;
  width: 55%;
  height: 10%;
  display: block;
}

.login-input[type="submit"] {
  position: relative;
  width: 30%;
  left: 30%;
  background-color: #afafaf;
  color: white;
  border-style: none;
}

