body {
  margin: 0 auto;
}

div .red {
  border: 4px solid red;
}

.login-header {
  position: relative;
  font-size: 15em;
  left: 27%;
  width: auto;
  margin: 0;
  padding: 0;
}

.login-form {
  position: absolute;
  height: 350px;
  width: 350px;
  left: 36%;
  top: 40%;
  background-color: #dfdfdf;
  border-radius: 300px;
  /*box-shadow: 7px 7px 7px #d3d3d3; */
}

.login-input {
  position: relative;
  text-align: center;
  margin: 5%;
  top: 25%;
  left: 20%;
  width: 50%;
  height: 10%;
  display: block;
}

.login-input+button {
  position: relative;
  width: 25%;
  left: 33%;
  background-color: #afafaf;
  color: white;
  border-style: none;
}

span {

}

